@import url('desktop_layout.css');

.input-box {
	min-height: 2rem;
	margin-top: 2rem;
}

.input-box:nth-child(1) {
	margin-top: 1;
}

.input-box input,
.input-box textarea,
.input-box label,
.input-box .selector {
	font-size: 2rem;
	font-family: alethiapro-regular;
	color: #fff;

	height: 50%;
	width: 100%;
	background: none;
	border: none;
	border-bottom: 3px solid #fff;
	padding-bottom: 0.5rem;

	/* resize:none; */
	/* Запретить изменение размера */

	overflow-y: auto;
	/* Показывать полосы прокрутки только при необходимости */
	scrollbar-width: thin;
	/* Толщина полосы прокрутки (может не работать во всех браузерах) */
	scrollbar-color: white;

}

.input-box textarea {
	min-height: 4rem;
	max-height: 15rem;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
	color: #ffffff;
	opacity: 0.5;
}

.input-box input:focus,
.input-box textarea:focus {
	outline: none;
	/* Убрать контур фокуса */
	border-color: #fff;
	/* Цвет рамки при фокусе */
	/* min-height: 1rem; */
}

.form {
	/* height: 18px; */
	border-radius: 20px;
	background-color: #ffffff3f;
	/* width:40%; */
	margin-top: 5rem;
	padding: 15px;
	line-height: 3rem;
	box-shadow: 0 0 10px rgba(0, 0, 39, 0.631);
}

legend {
	display: flex;
	justify-content: center;
	color: white;
	background: none;
	font-family: circe-extrabold;
	font-size: 3rem;
	width: 100%;

}


/* input[type="button"] */
.button button {
	margin-top: 3rem;
	border: 5px solid rgb(255, 255, 255);
	border-radius: 10px;
	background-color: rgba(255, 255, 255, 0);
	font-family: circe-extrabold;
	font-size: 2.5rem;
	color: rgb(255, 255, 255);
	width: 100%;
	cursor: pointer;

}

/* input */
.button button:hover {
	background-color: rgba(255, 255, 255, 0.295);
	/* border-color:  #ffffff7a;
	background-color: #ffffff7a;
	color: #03002B; */
}

.visible-text {
	font-family: alethiapro-regular;
	font-size: 2rem;
	color: white;
	border: none;
	cursor: pointer;
	opacity: 0.5;
	margin-top: 1.5rem;
}

.options-container {
	/* position: absolute; */
	width: 100%;
	font-family: alethiapro-regular;
	color: rgb(255, 255, 255);
	font-size: 2rem;
	display: none;
	border: none;
	border-top: none;
	background-color: rgba(255, 255, 255, 0.171);
	/* Прозрачный белый цвет */
}

.option {
	padding: 10px;
	cursor: pointer;
}

.option:hover {
	background-color: #e0e0e05b;
	/* Цвет при наведении курсора */
}

.input-box>label {
	border: none;
}

.custom-select {
	position: relative;
	width: 100%;

}

.custom-select::before {
	content: "v";
	position: absolute;
	width: 100%;
	color: white;
	transform: translate(93%);
	font-family: alethiapro-regular;
	font-size: 2rem;
	opacity: 0.5;
}
