/* *{
    border: 1px solid red;
} */

main>section {
    /* margin-bottom: 10rem; */
    margin-bottom: 1rem;
}

.header__ul a {
    display: flex;
    justify-content: space-between;
    list-style: none;

    font-size: 0.5rem;
    letter-spacing: 0.1rem;
}

.main__text__h1>h1 {
    margin-top: 2rem;
    text-align: center;
    letter-spacing: 0.3rem;
    font-size: 2.8rem;
}

.main__text__h2>h2 {
    text-align: center;
    font-size: 1.9rem;
}

.aside__img {
    margin: 0 auto;
    text-align: center;
}

.aside__img img {
    width: 300px;
}

.main__text__tp {
    text-align: center;
    font-size: 1.9rem;
}

.main-button {
    margin: 0 auto;
    text-align: center;
}

.main__button {
    height: 3.5rem;
    width: 11rem;

    margin: 0 auto;
    margin-top: 0rem;

    font-size: 1.7rem;
    letter-spacing: 0.1rem;
    text-align: center;
}

/* #main__button__mobile{
    
} */

/* .img-girl{
    width: 30%;
} */

.about-me__girl__img {
    height: 20rem;
    width: 20rem;
    position: relative;
    right: 3rem;
    top: 20%;
    z-index: 1;
}

.about-me__h1 {
    margin: auto;
}

.about-me__h1>h1 {
    font-size: 2rem;
}

.about-me__text {
    margin: 0 auto;
    padding: 4rem 0rem;
    font-size: 1rem;
    text-align: center;
}

.skills__text {
    font-size: 2rem;
}

.about_me__skills__bubbles {
    padding-left: 0 !important;


}

.about-me__skills {
    margin-top: 3rem;
}

.about-me__skills li {
    font-size: 1rem;
    border-radius: 40px;
    padding: 1px 8px;
}

.about_me__skills__bubbles {
    margin-bottom: 2rem;
}

.about-me__skills ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-center;
    gap: 10px 8px;
}

.about-me__progress__text {
    font-size: 1.3rem;
}

.about-me__progress {
    padding-left: 1rem;
}

.skills__range {
    margin-top: 1rem;
}

.progresss-bar {
    height: 13px;
}

.progresss {
    padding: 4px;
}

.portfolio {
    margin-top: 20rem;
    width: 100%;
    height: 100%
}

.portfolio__text__h1>h1 {
    font-size: 2.5rem;
}

.polygraphy__text__h2>h2 {
    font-size: 2rem;

}

.slider-container-mobile {
    position: relative;
    margin: 0 auto;
}

.contact-icon{
    margin-top: 6rem;
}

.main-icon{
	position: relative;
	left: 10%;
    top: -35rem;
	width: 38rem;
}


  /* размер булетов у карусели */
.slider-container .bullet-container .bullet {
    margin-right: 14px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: white;
    opacity: 0.5;
}

/* размер стрелочек у каруселей */
.slider-container .slider-left {
    cursor: pointer;
    font-size: 2rem;
}

.slider-container .slider-right {
    cursor: pointer;
    font-size: 2rem;
}

.title{
    text-align: center;
    margin-top: 0rem;
}


.title h1{
    margin-top: 8rem;
	font-size: 2.5rem;
	color: white;
	font-family: circe-extrabold;

}

.title h2{
    font-size: 2.3rem;
	color: white;
	font-family: alethiapro-regular;
}

.title h3{
margin-top: 5rem;
}

/* .title_why-i{

} */