@import url('mobile_layout.css');
@import url('burger.css');

#desktop{
    display: none;
}
#mobile{
    display: block;
}

.about-me__progress{
    border: 0rem;	
	font-family: alethiapro-regular;
	color: white;
}