@import url('mobile_layout.css');
@import url('burger.css');

#desktop{
    display: none;
}
#mobile{
    display: block;
}

.about-me__progress{
    border: 0rem;	
	font-family: alethiapro-regular;
	color: white;
}

/* дизайн карточек почему я */

.why-i__text>h1{
	font-size: 2.5rem;
	color: white;
	font-family: circe-extrabold;
}

.carda__text p{
	font-size: 1rem;
	color: white;
	font-family: alethiapro-regular;
}

.carda__inner {
	background: rgba(0, 1, 60, 0.05);
	box-shadow: 0 4px 30px rgb(4, 0, 19);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0);
}


.carda__outer-mobile>h2 {
	font-family: circe-extrabold;
	color: white;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.contacts__text>h1 {
	font-family: circe-extrabold;
	color: white;
	font-size: 2.5rem;
    text-align: center;
    margin-top: 8rem;
}


/* Форма */

.input-box {
	min-height: 2rem;
	margin-top: 1.5rem;
}

.input-box:nth-child(1) {
	margin-top: 0.5rem;
}

#textAreaMobile{
	margin-top: 20px;
}

.input-box input,
.input-box textarea,
.input-box label,
.input-box .selector {
	font-size: 1.5rem;
	font-family: alethiapro-regular;
	color: #fff;

	height: 50%;
	width: 100%;
	background: none;
	border: none;
	border-bottom: 2px solid #fff;
	padding-bottom: 0.2rem;

	/* resize:none; */
	/* Запретить изменение размера */

	overflow-y: auto;
	/* Показывать полосы прокрутки только при необходимости */
	scrollbar-width: thin;
	/* Толщина полосы прокрутки (может не работать во всех браузерах) */
	scrollbar-color: white;

}

/* изменение размера блока ваше сообщение */
.input-box textarea {
	min-height: 2rem;
	max-height: 8rem;

	line-height: 1.5rem;
}

.input-box input::placeholder,
.input-box textarea::placeholder {
	color: #ffffff;
	opacity: 0.5;
}

.input-box input:focus,
.input-box textarea:focus {
	outline: none;
	/* Убрать контур фокуса */
	border-color: #fff;
	/* Цвет рамки при фокусе */
	/* min-height: 1rem; */
}

.form {
	/* height: 18px; */
	width:95%;
	margin: 0 auto;
	margin-top: 2rem;
	padding: 15px;

	border-radius: 20px;
	background-color: #ffffff3f;
	box-shadow: 0 0 10px rgba(0, 0, 39, 0.631);
	
	line-height: 3rem;
}

legend {
	display: flex;
	justify-content: center;
	color: white;
	background: none;
	font-family: circe-extrabold;
	font-size: 2.5rem;
	width: 100%;

}


/* input[type="button"] */
.button button {
	margin-top: 2rem;
	border: 3px solid rgb(255, 255, 255);
	border-radius: 10px;
	height: 3rem;
	background-color: rgba(255, 255, 255, 0);
	font-family: circe-extrabold;
	font-size: 2rem;
	color: rgb(255, 255, 255);
	width: 100%;
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;

}

/* input */
.button button:hover {
	background-color: rgba(255, 255, 255, 0.295);
	/* border-color:  #ffffff7a;
	background-color: #ffffff7a;
	color: #03002B; */
}

.visible-text-mobile {
	font-family: alethiapro-regular;
	font-size: 1.5rem;
	color: white;
	border: none;
	cursor: pointer;
	opacity: 0.5;
	margin-top: 1rem;

}

.underline {
	bottom: 0;
	left: 0;
	right: 0;
	height: 2px;
	background-color: white;
	/* Ярко-белое подчеркивание */
	margin-top: 0rem;
	width: 100%;
}

.options-container-mobile {
	/* position: absolute; */
	width: 100%;
	font-family: alethiapro-regular;
	color: rgb(255, 255, 255);
	font-size: 1.5rem;
	display: none;
	border: none;
	border-top: none;
	background-color: rgba(255, 255, 255, 0.171);
	/* Прозрачный белый цвет */
}

.option {
	padding: 10px;
	cursor: pointer;
}

.option:hover {
	background-color: #e0e0e05b;
	/* Цвет при наведении курсора */
}

.input-box>label {
	border: none;
}

.custom-select {
	position: relative;
	width: 100%;

}

.visible-text-mobile::before {
	content: "v";
	position: absolute;
	top: 0;
	right: 0;
	color: white;
	font-family: alethiapro-regular;
	font-size: 1.5rem;
	opacity: 0.5;
}

.footer__mobile {
	background-color: #010940;
	padding: 0rem 0;
}

.footer-text__mobile {
	font-family: alethiapro-regular;
	font-size: 0.6rem;
	color: white;
}

.align-right__mobile {
	text-align: right;
}

/* попап */

.popup-mobile{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	color: #fff;
	opacity: 0;
	visibility: hidden;

	overflow-x: hidden;
	overflow-y: auto;

	z-index: 5;
}
.popup-mobile:target{
	opacity: 1;
	visibility: visible;
}
.popup__body-mobile{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.popup__content-mobile{
	max-width: 17rem;
	position: relative;
	background: rgba(0, 3, 163, 0.05);
	box-shadow: 0 4px 30px rgb(2, 0, 8);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0);
	padding: 1rem 1rem;
	border-radius: 15px;
	/*Часть анимации*/
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.popup__title-mobile{
	font-size: 1.2rem;
	font-family: alethiapro-regular;
	color: white;
}
.popup__close-mobile{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	text-decoration: none;
	color: #ffffff;
}
.popup__area-mobile{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

#invisibleObj-mobile{
	position: fixed;
	top: 0;
	left: 0;
}
.popup-mobile{
	transition: all 0.8s ease 0s;
}
.popup__content-mobile{
	transform: translate(0px, -100%);
}
.popup-mobile:target .popup__content-mobile{
	transition: all 0.8s ease 0s;
	transform: translate(0px, 0px);
	opacity: 1;
}