@import url("desktop/desktop.css") screen and (min-width: 900px);
@import url("mobile/mobile.css") screen and (max-width: 900px);

@font-face {
	font-family: alethiapro-regular;
	src: url("../fonts/alethiapro/alethiapro-regular.ttf") format("ttf"),
		url("../fonts/alethiapro/alethiapro-regular.woff") format("woff"),
		url("../fonts/alethiapro/alethiapro-regular.woff2") format("woff2"),
		url("../fonts/alethiapro/alethiapro-regular.eot") format("eot");
}

@font-face {
	font-family: circe-extrabold;
	src: url("../fonts/circe-extrabold/circe-extrabold.ttf") format("ttf"),
		url("../fonts/circe-extrabold/circe-extrabold.woff") format("woff"),
		url("../fonts/circe-extrabold/circe-extrabold.woff2") format("woff2"),
		url("../fonts/circe-extrabold/circe-extrabold.eot") format("eot");
}

@font-face {
	font-family: JakobCTT;
	src: url("../fonts/JakobCTT/JakobCTT.ttf") format("ttf"),
		url("../fonts/JakobCTT/JakobCTT.woff") format("woff"),
		url("../fonts/JakobCTT/JakobCTT.woff2") format("woff2"),
		url("../fonts/JakobCTT/JakobCTT.eot") format("eot");
}

@font-face {
	font-family: irinactt;
	src: url("../fonts/irinactt/irinactt.ttf") format("ttf"),
		url("../fonts/irinactt/irinactt.woff") format("woff"),
		url("../fonts/irinactt/irinactt.woff2") format("woff2"),
		url("../fonts/irinactt/irinactt.eot") format("eot");
}

/* *{
	border: 1px solid red;
} */

/* Заебали крутящиеся хуйни внизу
.container {
	overflow: hidden;
} */


.body-main {
	height: 110vh;
	width: 110vw;

	background-color: rgba(0, 5, 31, 0);
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	/* background-attachment: fixed; */
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	
	background-size: cover;
	background-blend-mode: darken;
	transition: all 0.3s ease;
	
	position: fixed;
	top: 0;

	z-index: -5;
}

.body-dark {
	background-color: rgba(0, 5, 38, 0.752);
	transition: all 0.3s ease;
	background-blend-mode: multiply;
}

.header__ul {
	display: flex;
	justify-content: space-between;
	list-style: none;

	font-family: circe-extrabold;
	font-size: 2rem;
	letter-spacing: 0.1rem;
	color: white;
}

.header__ul a {
	color: white;
	/* Цвет текста для всех ссылок внутри .header__ul */
	text-decoration: none;
	/* Убираем подчеркивание для всех ссылок внутри .header__ul */
}


.main__text__h1>h1 {
	color: white;
	font-family: JakobCTT;

}

.main__text__h2>h2 {
	color: white;
	font-family: irinactt;
}

.main__button {
	border-radius: 150rem;
	border: 0rem;
	background: linear-gradient(-41deg, #FFCC00, #FFCC00, #FF9933, #FF9933);
	font-family: circe-extrabold;
	color: white;
}

.contact_button {
	height: 15rem;
}

.main__text__tp {
	color: white;
	font-family: alethiapro-regular;
}

/* .aside__img{
	height: 1rem;
} */

.about-me__h1>h1 {
	font-family: circe-extrabold;
	color: white;
}

.skills__text {
	color: white;
	font-family: circe-extrabold;
}


.about-me__skills li {
	color: white;
	font-family: alethiapro-regular;
	list-style-type: none;
	border: 3px solid white;
}

.about-me__skills li:hover {
	cursor: none;
	color: #000;
	background-color: #fff;
}

.about-me__text {
	border: 0rem;
	background: linear-gradient(180deg, #03002B, #03002B, #11162b81, #ff993300);

	font-family: alethiapro-regular;
	color: white;
}


.progresss {
	border-radius: 5.65625rem;
	border: 3px solid #004bac;
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

}

.progresss-bar {
	border-radius: 30px;
	background-image: linear-gradient(to bottom,
			rgba(255, 255, 255, 0.3),
			rgba(255, 255, 255, 0.05));
	transition: 0.4s linear;
	transition-property: width, background-color;
}

.progresss-moved .progresss-bar {
	width: 85%;
	background: linear-gradient(90deg, #00066A, #004bac, #00C6FA);
}

#illustrator {
	width: 90%;
}

#photoshop {
	width: 90%;
}

#corel {
	width: 100%;
}

#figma {
	width: 50%;
}


.portfolio__text__h1>h1 {
	color: white;
	font-family: circe-extrabold;

}

.polygraphy__text__h2>h2 {
	color: white;
	font-family: alethiapro-regular;
}

.illustration__text__h2>h2 {
	font-size: 3rem;
	color: white;
	font-family: alethiapro-regular;
}

.why-i__text__h1>h1 {
	font-family: circe-extrabold;
	color: white;
	font-size: 4rem;
}

.carda__text {
	font-size: 1.9rem;
	color: white;
	font-family: alethiapro-regular;
}

.why-i__text__h2 {
	margin-top: 6rem;
}

.carda__inner {
	background: rgba(0, 1, 60, 0.05);
	box-shadow: 0 4px 30px rgb(4, 0, 19);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0);
}


.carda__outer>h2 {
	font-family: circe-extrabold;
	color: white;
	font-size: 3rem;
	letter-spacing: 0.1rem;
}

.contact-icon {
	background: url('../images/contact__icons/main-icon.png') no-repeat center;
	background-size: 80%;
}

.contact-icon__mobile {
	background: url('../images/contact__icons/main-icon.png') no-repeat center;
	background-size: 80%;
}

.footer {
	background-color: #010940;
	padding: 1rem 0;
}

.footer-text {
	font-family: alethiapro-regular;
	font-size: 1.5rem;
	color: white;
}

.align-right {
	text-align: right;
}

.title>h3 {
	font-size: 2.3rem;
	color: white;
	font-family: alethiapro-regular;
}

/* попап */

.popup{
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	top: 0;
	left: 0;
	color: #fff;
	opacity: 0;
	visibility: hidden;

	overflow-x: hidden;
	overflow-y: auto;

	z-index: 5;
}
.popup:target{
	opacity: 1;
	visibility: visible;
}
.popup__body{
	min-height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;

}
.popup__content{
	max-width: 45rem;
	position: relative;
	background: rgba(0, 1, 60, 0.05);
	box-shadow: 0 4px 30px rgb(2, 0, 8);
	backdrop-filter: blur(30px);
	-webkit-backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0);
	padding: 30px 10px;
	border-radius: 15px;
	/*Часть анимации*/
	opacity: 0;
	transition: all 0.8s ease 0s;
}
.popup__title{
	font-size: 2rem;
	font-family: alethiapro-regular;
}
.popup__close{
	position: absolute;
	right: 10px;
	top: 10px;
	font-size: 20px;
	text-decoration: none;
	color: #000;
}
.popup__area{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;left: 0;
}
#invisibleObj{
	position: fixed;
	top: 0;left: 0;
}

/*анимация*/
.popup{
	transition: all 0.8s ease 0s;
}
.popup__content{
	transform: translate(0px, -100%);
}
.popup:target .popup__content{
	transition: all 0.8s ease 0s;
	transform: translate(0px, 0px);
	opacity: 1;
}